.header {
  background: rgb(0,0,0);
  background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,11,51,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,11,51,1) 0%, rgba(0,0,0,1) 100%);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,11,51,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}


/* .contact {
  background: rgb(0,0,0);
  background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(6,200,161,0.5131302521008403) 0%, rgba(50,82,120,1) 54%, rgba(39,47,81,1) 64%, rgba(22,27,47,1) 79%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(6,200,161,0.5131302521008403) 0%, rgba(50,82,120,1) 54%, rgba(39,47,81,1) 64%, rgba(22,27,47,1) 79%, rgba(0,0,0,1) 100%);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(6,200,161,0.5131302521008403) 0%, rgba(50,82,120,1) 54%, rgba(39,47,81,1) 64%, rgba(22,27,47,1) 79%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
} */

/* footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle, rgba(15,15,50,1) 0%, rgba(5,5,30,1) 100%);
} */
.starsBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ajuste la hauteur ici */
  background: radial-gradient(circle, rgba(15,15,50,1) 0%, rgba(5,5,30,1) 100%);
}


/* Test theee js  */
